/* ##################  main start ################## */
@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

main {
  height: 650px;
  animation: fadein 3s;
}
#mainTitle h1 {
  display: block;
  text-align: center;
  margin: 60px auto;
  max-width: 200px;
  box-shadow: inset 0 -20px 0 rgba(94, 255, 0 ,0.36);
}

#addOk h1 {
  display: block;
  text-align: center;
  margin: 200px auto;
  max-width: 800px;
  font-size: 45px;
}
/* 2022-11-30 data-placeholder */
/* ##################  main end ################## */