/* ##################  main start ################## */
main {
  height: 1000px;
}
/*  **********************************************************    slide */

#search {
  animation: fadein 3s;
  position: absolute;
  top: 38%;
  left: 20%;
  display: grid;
  grid-template-columns: 480px 480px 250px;
  grid-template-rows: 100px;
  /* transform: translate(-50%, -50%); */
  justify-content: stretch;
}
#search h4{
  text-shadow: 0 -1px 0 #222;
  font-size: 20px;
  margin-bottom: 10px;
}
input{
  position: relative;
  width: 400px;
  height: 60px;
  border: 5px solid #00B050;
}
input {
  position:relative; 
  padding: 0 40px 0 15px;
  /* font: 20px; */
  /* background: url('images/calendar.png') no-repeat right center / 15px auto; */
  content : attr(data-placeholder);
}
input[type="date"]::-webkit-clear-button {display: none;}
input[type="date"]::-webkit-inner-spin-button{display: none;}
input[type="date"]::-webkit-calendar-picker-indicator{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: transparent  */
  background: url("images/calendar.png") no-repeat;
  /* color: transparent; */
  /* cursor: pointer; */
}
#selcetPlace {
  margin-left: 250px;
  padding-left: 10px;
}
#searchIcon {
  background-image: url('Images/search.png');
  position: absolute;
  background-color: transparent;
  border: none;
  margin-top: 10px;
}
#btnimg {
  height: 60px;
  width: 60px;
  margin-top: 20px;
}
#bestPlace {
  margin-top: 50px;
  /* margin-left: 70px; */
  /* grid-column-start: 1;
  grid-row-start: 2; */
}
#bestPlace > ol > li {
  line-height: 180%;
}
.placePhoto {
  position: relative;
  margin-top: 50px;
  /* overflow: hidden; */
  /* grid-column: 2/5;
  grid-row-start: 2; */
}

/*  ***********************************************    slide */
/* ##################  main end ################## */